sudo: required

language: java

addons:
  hosts:
    - short-hostname
  hostname: short-hostname

jdk:
  - openjdk8
  - oraclejdk8
  - oraclejdk9

before_install:
  # Work around missing crypto in openjdk7
  - |
    if [ "$TRAVIS_JDK_VERSION" == "openjdk7" ]; then
      sudo wget "https://bouncycastle.org/download/bcprov-jdk15on-159.jar" -O "${JAVA_HOME}/jre/lib/ext/bcprov-jdk15on-159.jar"
      sudo perl -pi.bak -e 's/^(security\.provider\.)([0-9]+)/$1.($2+1)/ge' /etc/java-7-openjdk/security/java.security
      echo "security.provider.1=org.bouncycastle.jce.provider.BouncyCastleProvider" | sudo tee -a /etc/java-7-openjdk/security/java.security
    fi

notifications:
  email:
    on_success: never

script:
  - ./gradlew clean
  - if [ "$TRAVIS_JDK_VERSION" == "oraclejdk9" ]; then ./gradlew check; fi
  - ./gradlew cobertura coveralls

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
